



  <%- include('./partials/head') %>
  <%- include('./partials/header') %>

  <body>
    <div class="menu">
      <%- include('./partials/navigation') %>
    </div>   
     

 
     <div class="corpo">
    <h2>teste de formulário</h2>
    
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, architecto accusamus hic odit est dolorum sed veritatis omnis delectus sit unde blanditiis impedit recusandae ullam ducimus laudantium voluptate nam fugit.</p>
      <p>Omnis error quia perferendis blanditiis dolor sit velit optio quisquam molestias! Eius eum mollitia molestiae porro! Nihil eaque rerum repudiandae corrupti nisi iusto. Iste eveniet distinctio maxime. Mollitia, blanditiis accusamus!</p>
      <p>Doloribus enim animi exercitationem quibusdam voluptatibus tempora modi nulla harum consequuntur hic excepturi nobis facere, quasi architecto maiores eveniet porro blanditiis est? Exercitationem, facere! Odio repellat laudantium quia laborum vel?</p>
      <p>Dolorem maxime deserunt, autem vero odit minima quisquam nesciunt eius eos mollitia quod quidem vitae atque iste eligendi perspiciatis. Modi, iste odio. Nisi optio, ut ullam inventore veritatis quasi maiores.</p>
      <p>A autem, necessitatibus pariatur deleniti iste eaque cupiditate. Culpa enim amet magnam aliquid dignissimos debitis ducimus eaque, delectus iure est hic dolores ipsam illo vero rerum cumque accusamus atque deleniti.</p>
      <p>Quibusdam, consectetur! Quae, est impedit nesciunt delectus repellendus itaque sunt quos cum doloremque qui consequatur cupiditate vel porro iusto error quam rerum vitae praesentium blanditiis eum dolores dolorem minima fugiat?</p>
      <p>Architecto natus labore recusandae, iure porro tempora ad ullam quas dolor eum, laboriosam itaque quis fugiat quae veritatis autem illum vel! Rerum eveniet neque iste sed, nisi in obcaecati facilis?</p>
      <p>Maiores, atque accusamus. Impedit ab repellat harum maiores distinctio asperiores omnis libero enim veritatis dolor sunt nisi quibusdam ad repellendus vel natus aliquid labore, placeat, excepturi nemo, eum quae! Consectetur.</p>
      <p>Possimus natus voluptatibus harum dolor nam pariatur. Praesentium dolorem, cumque architecto rem commodi quasi! Culpa aliquid amet maiores quisquam aliquam a pariatur! Neque placeat voluptas harum eaque exercitationem corrupti aut?</p>
      <p>Totam, dicta minus! Dolorem recusandae laboriosam voluptatum eum tempora praesentium commodi corrupti porro aliquam iure facere eos neque fugiat cum exercitationem quos labore pariatur fuga atque reprehenderit odio, assumenda sunt.</p>
    </div>
    
  </body>
</html>
