<%- include('./partials/head') %>

<body>

    

<main class="body">
    <section class="cabecalho">
        <div>
            <h1 class="logo">SpeedLog</h1>
        <div>
    </section>

    <main class="container">
        <h2>Login</h2>
        <form action="">
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Enter Your Username">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Enter Your Password">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continue">
        </form>

        <div class="footer">
            <span>Or Connect With Google</span>
            <div class="social-fields">
                <div class="social-field google">
                    <a href="#">
                        <ion-icon class="icone" name="logo-google"></ion-icon>
                        Sign in with Google
                    </a>
                </div>

            </div>
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>    
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</main>
</body>

</html>


